<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wiehan.kate_app_final">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_Two_ScenTwo" />
        <activity android:name=".Activity_Vitals_ScenTwo" />
        <activity android:name=".Activity_Game_Scen2" />
        <activity android:name=".Activity_Scenario_ScenTwo" />
        <activity android:name=".Advance_Display_ScenTwo" />
        <activity android:name=".Action_Plan" />
        <activity android:name=".Activity_Two_ScenOne" />
        <activity android:name=".Activity_Two_ScenThree" />
        <activity android:name=".Activity_Two_ScenFour" />
        <activity android:name=".Activity_Vitals_ScenOne" />
        <activity android:name=".Activity_Game_Scen1" />
        <activity android:name=".Activity_Scenario_ScenOne" />
        <activity android:name=".Advance_Display_ScenOne" />
        <activity android:name=".Activity_Vitals_ScenThree"></activity>
    </application>

</manifest>